
{
    "server": {
        "domain": "ex.qualvay.com",
        "node_tag": "server_tag",
        "email": "mail@exm.com",
        "certificate_provider": "letsencrypt",
        "cf_key": "cloudflare_key"
    },
    "client": {
        "client_path": "/srv/configurations",
        "enable_exlude_package": true
    },
    "nodes": [
        {
            "type": "tuic",
            "congestion_control": "bbr"
        }
    ]
}
